<ion-item>
  <ion-text color="primary">
    <span class="dotStyle">&#9679;</span>
  </ion-text>
  <ion-label class="ion-text-wrap">
    
    <ion-thumbnail slot="start">
    <img [src]="item?.cover ? item?.cover : fallbackImage" (error)="onImgError($event)" />
  </ion-thumbnail>
  <h5>{{item?.product_name}}</h5>
  </ion-label>
  <ion-row>
    <ion-icon color="primary" name="remove-outline" (click)="quantityMinus()"></ion-icon>
    <ion-text class="ion-text-center quantity" color="primary">{{item?.quantity}}</ion-text>
    <ion-icon color="primary" name="add-outline" (click)="quantityPlus()"></ion-icon>
  </ion-row>
  <ion-text slot="end" color="dark" class="price ion-text-right">
    ₱{{(item?.price * item.quantity) | number: '0.2-2'}}
  </ion-text>
</ion-item>