<ion-header>
  <ion-toolbar>
    <ion-title>Welcome to E-Market!</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/account"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-avatar>
    <ion-img src="assets/imgs/shop.png"></ion-img>
  </ion-avatar>
  <h4 class="ion-text-center" >To get started, register your shop by providing the necessary information</h4>

  <ion-button class="ion-margin" expand="block" color="primary" routerLink="/sellerpage/add-shop">Create Shop</ion-button>
</ion-content>
